@import "fonts";
body,
html {
    width: 100%;
    height: 100%;
}

body {
    font-size: 1rem;
    font-family: 'Brandon Grotesque Medium', sans-serif;
    font-family: 'Brandon Grotesque Thin', sans-serif;
    font-family: 'Brandon Grotesque Light', sans-serif;
    font-family: 'Brandon Grotesque Medium Italic';
    font-family: 'Brandon Grotesque Bold', sans-serif;
    font-family: 'Brandon Grotesque Regular', sans-serif;
    background-color: #f5f5fa;
    color: #888888;
}

.font-light {
    font-family: 'Brandon Grotesque Light', sans-serif;
}

.font-thin {
    font-family: 'Brandon Grotesque Thin', sans-serif;
}

.font-medium {
    font-family: 'Brandon Grotesque Medium', sans-serif;
}

.font-medium-italic {
    font-family: 'Brandon Grotesque Medium Italic';
}

.font-regular {
    font-family: 'Brandon Grotesque Regular', sans-serif;
}

.font-bold {
    font-family: 'Brandon Grotesque Bold', sans-serif;
}

.btn:focus,
.fc button:focus,
.btn.focus,
.fc button.focus {
    box-shadow: none;
}

@mixin opacity($opacity) {
    opacity: $opacity; // IE8 filter
    $opacity-ie: ($opacity * 100);
    filter: alpha(opacity=$opacity-ie);
}

@each $size in map-keys($spacers) {
    $size10: $size / 10;
    .opacity-#{$size} {
        @include opacity($size / 10)
    }
    .form-control.opacity-#{$size} {
        background-color: rgba(255, 255, 255, $size10);
        @include opacity(1)
    }
}

@each $size in map-keys($spacers) {
    $size100: $size * 100;
    .mh-minus-#{$size100} {
        min-height: calc(100vh - #{$size100}px);
    }
}

.overlay_loading {
    position: fixed;
    width: 100%;
    z-index: 9999;
    background-color: #efefef;
    opacity: 0.6;
}

.font-xs {
    font-size: .75rem !important;
}

.font-sm {
    font-size: .85rem !important;
}

.font-lg {
    font-size: 1rem !important;
}

.font-xl {
    font-size: 1.25rem !important;
}

.font-2xl {
    font-size: 1.5rem !important;
}

.font-3xl {
    font-size: 1.75rem !important;
}

.font-4xl {
    font-size: 2rem !important;
}

.extra-line-height {
    line-height: 2.5rem;
}

button,
input,
optgroup,
select,
textarea {
    font-family: 'Brandon Grotesque Medium', sans-serif;
}

.border-top {
    border-top: 1px solid #636363;
}

.border-1 {
    border-width: 1px;
}

.border-2 {
    border-width: 2px;
}

.rounded-2 {
    border-radius: .5rem;
}

.pl-l {
    padding-left: 2rem;
}

.pointer {
    cursor: pointer;
}

.mh-100 {
    min-height: 100vh;
}

.text-white-light,
.text-white-light:hover,
.text-white-light:focus {
    color: #cad4e4;
}

.text-black {
    color: #000000 !important;
}

.blue-dark-text {
    color: #2f5884 !important;
}

.text-black-light {
    color: #636363 !important;
}

.text-popup {
    color: #727272;
}

.text-black-medium {
    color: #9ba5b3 !important;
}

.text-grey {
    color: #4D4D4D;
}

.text-matterhorn {
    color: #575757;
}

.reset-pwd-primary-color {
    color: #616161;
}

.reset-pwd-secondary-color {
    color: #bebebe;
}

.bg-auth-info {
    background: url(../img/web/enterprise-panel-photo.jpg) no-repeat center center;
    background-size: cover;
}

.bg-light {
    background-color: #F8F8FA;
}

.bg-dark-blue {
    background-color: #263240;
}

.bg-white-grey-black {
    background-color: #e9e9e9;
}

.bg-white {
    background-color: #fff;
}

.border-white-grey-black {
    border: 1px solid #e9e9e9;
}

.border-twilight {
    border: 1px solid #d0cecf;
}

.border-light-blue {
    border-bottom: 1.2px solid #869eb8;
}

.bg-gray-lighter {
    background-color: $gray-200;
}

.bg-ss-primary {
    background-color: #34cc67;
}

.btn-ss-primary {
    max-width: 120px;
    width: 100%;
    background-color: #34cc67;
    color: #fff;
    border-radius: 50px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.10);
    transition: .3s ease-in;
    text-align: center;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
}

.btn-ss-primary:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.btn-ss-outline {
    max-width: 120px;
    width: 100%;
    background-color: #fff;
    color: #565656;
    border: 1px solid #d0cece;
    border-radius: 50px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.10);
    transition: .3s ease-in;
    text-align: center;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
}

.btn-ss-outline:hover {
    color: #34cc67;
    border: 1px solid #34cc67;
    box-shadow: 0 5px 16px 0 rgba(245, 245, 245, 0.9);
}

.btn-ss-secondary {
    max-width: 120px;
    width: 100%;
    background-color: #fff;
    color: #34cc67;
    border: 1px solid #34cc67;
    border-radius: 50px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.10);
    transition: .3s ease-in;
    text-align: center;
    vertical-align: middle;
    height: 34px;
    line-height: 34px;
}

.btn-outline-secondary-other {
    max-width: 90px;
    width: 100%;
    background-color: #fff;
    color: #565656;
    border: 1px solid #d0cece;
    border-radius: 50px;
    box-shadow: 13px 32px 36px -14px hsla(0, 0%, 70%, 0.10);
    transition: .3s ease-in;
    text-align: center;
    vertical-align: middle;
    height: 30px;
}

.btn-outline-secondary-other:hover {
    max-width: 90px;
    width: 100%;
    background-color: #fff;
    color: #34cc67;
    border: 1px solid #34cc67;
    border-radius: 50px;
    transition: .3s ease-in;
    text-align: center;
    vertical-align: middle;
    height: 30px;
}

.btn-ss-secondary:hover {
    color: #fff;
    background-color: #34cc67;
    border: 1px solid #34cc67;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.btn-ss-other {
    padding: 0 1.5rem;
    background-color: #34cc67;
    color: #fff;
    border-radius: 50px;
    transition: .3s ease-in;
    text-align: center;
    vertical-align: middle;
    height: 30px;
    line-height: 30px;
}

.btn-ss-other:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.1), 0 1px 20px 0 rgba(0, 0, 0, 0.1);
}

.btn-reset-link {
    max-width: 200px;
}

.btn-ss:hover {
    -webkit-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
    -moz-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
    box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

[type="checkbox"]:checked+label,
[type="checkbox"]:not(:checked)+label {
    position: relative;
    padding-left: 28px;
    cursor: pointer;
    line-height: 20px;
    display: inline-block;
    color: #666;
}

[type="checkbox"]:checked+label:before,
[type="checkbox"]:not(:checked)+label:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    border: 1px solid #ddd;
    background: #fff;
}

[type="checkbox"]:checked+label:after,
[type="checkbox"]:not(:checked)+label:after {
    content: '';
    width: 8px;
    height: 8px;
    background: #34cc67;
    position: absolute;
    top: 5px;
    left: 5px;
    -webkit-transition: all 0.2s ease;
    transition: all 0.2s ease;
}

[type="checkbox"]:not(:checked)+label:after {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
}

[type="checkbox"]:checked+label:after {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
}

.line-height-none {
    line-height: 0;
}

.rounded-side-circle {
    @include border-radius(20px);
}

.btn-white {
    @include button-variant(#000000, #FFFFFF, #D8D8D9);
}

.btn-outline-white {
    font-weight: 300;
    @include button-outline-variant(#FFFFFF, #000000); //@include button-size(0.5rem, 2rem, 1.2rem, 0);  
    background-color: #FFFFFF;
}

.btn-outline-black {
    font-weight: 300;
    @include button-outline-variant(#000000, #FFFFFF); //@include button-size(0.5rem, 2rem, 1.2rem, 5);    
}

.btn-outline-green {
    font-weight: 300;
    @include button-outline-variant(#7BCA0C, #FFFFFF); //@include button-size(0.5rem, 2rem, 1.2rem, 5);    
}

.btn-space {
    padding: .3rem 2.5rem;
}

.check-space {
    padding: 0 0 0 37px;
}

.label-animation {
    .form-group {
        position: relative;
        .form-control+label {
            position: absolute;
            bottom: 0;
            left: auto;
            line-height: 30px;
            @include transition();
        }
        .form-control.input-has-value+label,
        .form-control:focus+label {
            top: auto;
            bottom: 100%;
            padding-bottom: 0 !important;
            border-color: #28a745;
        }
    }
}

.form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #28a745;
    -webkit-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
    -moz-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
    box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
}

.has-danger .form-control {
    border-color: #f86c6b !important;
}

.form-control {
    color: #000000 !important;
    line-height: 1.5;
}

.form-check-input {
    position: absolute;
    margin-left: 0;
    margin-top: 0.40rem;
    left: 0;
    top: 0;
}

.alert-popup {
    .alert {
        margin-bottom: 0;
    }
    .modal-content {
        background: transparent;
        border: none;
    }
}


/*Profile*/

.profile-primary-color-bg {
    background-color: #263240;
}

.pf-name-color {
    color: #305885;
}

.pf-work-color {
    color: #666666;
}

.header-icon-bg {
    background-color: #1B2733;
}

.profile-text-primary {
    color: #808080;
}

.header-badge-bg {
    background-color: #33CC66;
}

.header-badge-bg {
    top: -9px;
    left: 25px;
    border-radius: 50px;
}

.header-search-bg-none {
    background: none;
}

.lg-input {
    min-width: 17rem;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 3rem;
    text-align: center;
    pointer-events: none;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    color: #ffffff;
    background: none;
    border-color: #33CC66;
    outline: 0;
    box-shadow: none;
}

.lead-image {
    width: 100%;
    height: auto;
    max-height: 60vh;
    overflow: hidden;
    display: flex;
}

.lead-image img {
    width: 100vw;
    height: auto;
}

nav ul li {
    list-style: none;
    float: left;
    padding-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: #808080;
    padding: 4px 5px;
}

.active {
    color: #305885 !important;
    border-bottom: 1.5px solid #305885;
    font-weight: bold;
}

.btn-primary-scrapsheet a {
    background-color: #33CC66;
    border-radius: 50px;
}

.btn-primary-scrapsheet a:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .155) !important;
}

.profile-position {
    z-index: 9;
    position: relative;
    top: -170px;
    width: 100%;
    max-width: 260px;
    border-radius: 10px !important;
}

.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display: block;
    position: relative;
    overflow: hidden;
}


/* If have the image layer */

.rig-img {
    display: block;
    width: 100%;
    height: auto;
    border: none;
    transform: scale(1);
    transition: all 1s;
}


/* If have the overlay layer */

.rig-overlay {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    /*background: #322E2E url(img/user/link.png) no-repeat center 20%;*/
    background: #322E2E;
    background-size: 50px 50px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For IE6 - IE8*/
}


/* If have captions */

.rig-text {
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    left: 15px;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    top: 88%;
    color: white;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For older IE*/
}

.rig-text-coverphoto {
    display: block;
    padding: 0 30px;
    box-sizing: border-box;
    position: absolute;
    left: 32%;
    width: 100%;
    text-align: center;
    text-transform: capitalize;
    top: 22%;
    color: white;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For older IE*/
}

.profil-info-cover-img {
    display: inline-block;
    *display: inline;
    /*for IE6 - IE7*/
    width: 100%;
    height: 100%;
    vertical-align: middle;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.profil-info-cover-img img {
    max-width: 100vw;
    height: 350px;
}

.profil-info-cover-img:hover .rig-img {
    cursor: pointer;
}

.profil-info-cover-img:hover .rig-text {
    transform: translateY(0px);
    opacity: 0.9;
    cursor: pointer;
}

.ss-profile-cover {
    position: absolute;
    display: block;
    top: 20%;
    left: 73%;
    bottom: 70%;
    right: 11%;
    margin: auto;
    background: #000000 url(../img/svg/photo-edit.svg) no-repeat 12px center;
    background-size: 27px 27px;
    opacity: 0;
    filter: alpha(opacity=0);
    /*For IE6 - IE8*/
    transition: all 0.6s;
}

.profil-info-cover-img:hover .ss-profile-cover {
    opacity: 0.8;
}

.profile-avatar img {
    width: auto;
    height: 225px;
}

.profile-avatar img:focus {
    outline: none;
}

.ss-profile-avatar {
    position: absolute;
    display: block;
    top: 190px;
    left: -150px;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #000000 url(../img/svg/photo-edit.svg) no-repeat center 5px;
    background-size: 24px 24px;
    opacity: 0;
    filter: alpha(opacity=0);
    transition: all 0.6s;
}

.profile-avatar:hover .ss-profile-avatar {
    opacity: 0.8;
}

.profile-icon {
    width: auto;
    height: 20px;
}

.profile-icon-others {
    width: auto;
    height: 24px;
}

.dropdown-toggle::after {
    display: none !important;
}

.dropdown-item.active,
.dropdown-item:active {
    color: #fff;
    text-decoration: none;
    background-color: #33CC66;
    outline: none;
}

.bpk {
    list-style: none;
    padding: 0;
    width: 100%;
    color: #808080;
}

.bpl {
    display: inline-block;
    padding: 0;
    width: 48%;
}

.excertificate {
    background-image: url(../img/svg/excutive-certificat.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
}

@media (min-width:200px) and (max-width:996px) {
    .lg-input {
        min-width: 0;
    }
    .profile-position {
        z-index: 9;
        position: relative;
        top: -40px;
        width: 100%;
        min-width: 210px;
    }
    .md-profile {
        margin: 0 auto;
        position: relative;
        width: 100%;
        max-width: 200px;
    }
}

@media (min-width:200px) and (max-width:768px) {
    .lg-input {
        min-width: 0;
    }
    .lead-image {
        height: 12rem;
    }
    .ss-profile-avatar {
        position: absolute;
        display: block;
        top: 144px;
        left: -125px;
        background-size: 24px 24px;
    }
    .rig-text {
        top: 85%;
    }
}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {
    .registor-form-control {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    .registor-form-control:focus {
        box-shadow: none;
        border: 1px solid #1c7430;
    }
    .profil-info-cover-img img {
        max-width: 100vw;
        height: 180px;
    }
}

.cursor-default {
    cursor: default !important;
}

.edu-icon {
    background-image: url(../img/svg/edu.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.blog-icon {
    background-image: url(../img/svg/blog.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.project-information-icon {
    background-image: url(../img/svg/project-information.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.postion-top {
    top: -23px;
}

.center-line {
    width: 100%;
    position: absolute;
    top: 37px;
    left: 5px;
    padding: 0 58px;
    ;
}

.about-edit {
    z-index: 99;
    position: absolute;
    right: 22px;
}

.black-light {
    color: #cccccc;
}

.year-position {
    margin: 0px 3px 0 0;
    position: relative;
    top: -2px;
}

.profile-heading {
    padding: 0 0 0 14px;
    max-width: 500px;
    margin: 0 0 -7px 0;
}

.menu-position {
    top: -5px;
}

.profil-info-edu-icon {
    margin: 0 1px 0 5px;
    width: auto;
    height: 27px;
}

.content {
    margin: -10px 0 -7px 40px;
}

.Profile-info-content {
    padding: 1rem 0 0 4rem;
    margin: 10px 0 0 0 0
}

.work-content {
    margin: -20px 0 -7px 40px;
}

.content-timeline {
    margin: -10px 0 -7px 7px;
}

.work-heading {
    padding: 0 0 0 18px;
    max-width: 500px;
    margin: 0 0 -7px 0;
}

.profile-infromation-content {
    padding: 1rem 0 0 3.9rem;
}

.work-infromation-content {
    padding: 1rem 0 0 3.7rem;
}

.work-info-content {
    padding: 1.2rem 0 .5rem 4.2rem;
    margin: 10px 0 0 0 0;
}

.work-info-icon {
    position: relative;
    top: -5px;
    margin: 0 0 0 10px;
    width: auto;
    height: 35px;
}

.work-info-icon-suit {
    position: relative;
    top: -5px;
    margin: 0 0 0 10px;
    width: auto;
    height: 27px;
}

.project-info-content {
    padding: 1rem 0 0 3.9rem;
    ;
    margin: 10px 0 0 0 0;
}

.copyright-m {
    margin: 8px 0 0 0;
}

@media (max-width: 575.98px) {
    .profile-heading {
        max-width: 152px;
    }
}

a {
    text-decoration: none;
}

.font_size_10 {
    font-size: 10px;
}

.font_size_12 {
    font-size: 12px;
}

.font_size_14 {
    font-size: 14px;
}

.font_size_16 {
    font-size: 16px;
}

.font_size_18 {
    font-size: 18px;
}

.font_size_20 {
    font-size: 20px;
}

.font_size_22 {
    font-size: 22px;
}

.font_size_24 {
    font-size: 24px;
}

.profile-primary-color-bg {
    background-color: #263240;
}

.pf-name-color {
    color: #305885;
}

.pf-work-color {
    color: #666666;
}

.header-icon-bg {
    background-color: #1B2733;
}

.profile-text-primary {
    color: #808080;
}

.btn-secondary-ss a {
    border: 1px solid #33CC66;
    background: #fff;
    color: #33CC66 !important;
    border-radius: 50px;
    min-width: 200px;
    width: 100%;
}

.btn-secondary-ss a:hover {
    border: 1px solid #33CC66;
    background: #33CC66;
    color: #ffffff !important;
    border-radius: 50px;
    min-width: 200px;
    width: 100%;
    cursor: pointer;
}

.header-badge-bg {
    background-color: #33CC66;
}

.header-badge-bg {
    top: -9px;
    left: 25px;
    border-radius: 50px;
}

.header-search-bg-none {
    background: none;
}

.lg-input {
    min-width: 17rem;
}

.has-search .form-control {
    padding-left: 2.375rem;
    color: #fff !important;
}

.has-search .form-control-search {
    position: absolute;
    z-index: 2;
    display: block;
    width: 2.375rem;
    height: 2.375rem;
    line-height: 2.1rem;
    text-align: center;
    pointer-events: none;
}

.has-search .form-control {
    padding-left: 2.375rem;
}

.has-search .form-control:focus {
    color: #ffffff;
    background: none;
    border-color: #33CC66;
    outline: 0;
    box-shadow: none;
}

::placeholder {
    color: #8e8e8e !important;
}

.lead-image {
    width: 100%;
    height: auto;
    max-height: 60vh;
    overflow: hidden;
    display: flex;
}

.lead-image img {
    @import "fonts";
    .btn:focus,
    .fc button:focus,
    .btn.focus,
    .fc button.focus {
        box-shadow: none;
    }
    @mixin opacity($opacity) {
        opacity: $opacity; // IE8 filter
        $opacity-ie: ($opacity * 100);
        filter: alpha(opacity=$opacity-ie);
    }
    @each $size in map-keys($spacers) {
        $size10: $size / 10;
        .opacity-#{$size} {
            @include opacity($size / 10)
        }
        .form-control.opacity-#{$size} {
            background-color: rgba(255, 255, 255, $size10);
            @include opacity(1)
        }
    }
    @each $size in map-keys($spacers) {
        $size100: $size * 100;
        .mh-minus-#{$size100} {
            min-height: calc(100vh - #{$size100}px);
        }
    }
    .overlay_loading {
        position: fixed;
        width: 100%;
        z-index: 9999;
        background-color: #efefef;
        opacity: 0.6;
    }
    .font-xs {
        font-size: .75rem !important;
    }
    .font-sm {
        font-size: .85rem !important;
    }
    .font-lg {
        font-size: 1rem !important;
    }
    .font-xl {
        font-size: 1.25rem !important;
    }
    .font-2xl {
        font-size: 1.5rem !important;
    }
    .font-3xl {
        font-size: 1.75rem !important;
    }
    .font-4xl {
        font-size: 2rem !important;
    }
    .extra-line-height {
        line-height: 2.5rem;
    }
    button,
    input,
    optgroup,
    select,
    textarea {
        font-family: 'Brandon Grotesque Medium', sans-serif;
    }
    .border-top {
        border-top: 1px solid #636363;
    }
    .border-1 {
        border-width: 1px;
    }
    .border-2 {
        border-width: 2px;
    }
    .pointer {
        cursor: pointer;
    }
    .mh-100 {
        min-height: 100vh;
    }
    .text-white-light,
    .text-white-light:hover,
    .text-white-light:focus {
        color: #cad4e4;
    }
    .text-black {
        color: #000000 !important;
    }
    .text-black-light {
        color: #636363 !important;
    }
    .text-matterhorn {
        color: #575757;
    }
    .verification-text-color {
        color: #808080 !important;
    }
    .reset-pwd-primary-color {
        color: #616161;
    }
    .reset-pwd-secondary-color {
        color: #bebebe;
    }
    .bg-auth-info {
        background: url(../img/web/enterprise-panel-photo.jpg) no-repeat center center;
        background-size: cover;
    }
    .bg-light {
        background-color: #F8F8FA;
    }
    .bg-dark-blue {
        background-color: #263240;
    }
    .bg-white-grey-black {
        background-color: #e9e9e9;
    }
    .bg-white {
        background-color: #fff;
    }
    .border-white-grey-black {
        border: 1px solid #e9e9e9;
    }
    .border-twilight {
        border: 1px solid #d0cecf;
    }
    .bg-gray-lighter {
        background-color: $gray-200;
    }
    .bg-ss-primary {
        background-color: #34cc67;
    }
    .btn-ss:hover {
        -webkit-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
        -moz-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
        box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
    }
    .rounded-side-circle {
        @include border-radius(20px);
    }
    .btn-white {
        @include button-variant(#000000, #FFFFFF, #D8D8D9);
    }
    .btn-outline-white {
        font-weight: 300;
        @include button-outline-variant(#FFFFFF, #000000); //@include button-size(0.5rem, 2rem, 1.2rem, 0);  
        background-color: #FFFFFF;
    }
    .btn-outline-black {
        font-weight: 300;
        @include button-outline-variant(#000000, #FFFFFF); //@include button-size(0.5rem, 2rem, 1.2rem, 5);    
    }
    .btn-outline-green {
        font-weight: 300;
        @include button-outline-variant(#7BCA0C, #FFFFFF); //@include button-size(0.5rem, 2rem, 1.2rem, 5);    
    }
    .btn-space {
        padding: .3rem 2.5rem;
    }
    .label-animation {
        .form-group {
            position: relative;
            .form-control+label {
                position: absolute;
                bottom: 0;
                left: auto;
                line-height: 30px;
                @include transition();
            }
            .form-control.input-has-value+label,
            .form-control:focus+label {
                top: auto;
                bottom: 100%;
                padding-bottom: 0 !important;
                border-color: #28a745;
            }
        }
    }
    .form-control:focus {
        color: #495057;
        background-color: #fff;
        border-color: #28a745;
        -webkit-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
        -moz-box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
        box-shadow: 0 10px 6px -6px rgb(236, 236, 236);
    }
    .has-danger .form-control {
        border-color: #f86c6b !important;
    }
    .form-control {
        color: #000000 !important;
        line-height: 1.5;
    }
    .form-check-input {
        position: absolute;
        margin-left: 0;
        margin-top: 0.40rem;
        left: 0;
        top: 0;
    }
     ::placeholder {
        color: #8e8e8e !important;
    }
    .alert-popup {
        .alert {
            margin-bottom: 0;
        }
        .modal-content {
            background: transparent;
            border: none;
        }
    }
    /*Profile*/
    .profile-primary-color-bg {
        background-color: #263240;
    }
    .pf-name-color {
        color: #305885;
    }
    .pf-work-color {
        color: #666666;
    }
    .header-icon-bg {
        background-color: #1B2733;
    }
    .profile-text-primary {
        color: #808080;
    }
    .header-badge-bg {
        background-color: #33CC66;
    }
    .header-badge-bg {
        top: -9px;
        left: 25px;
        border-radius: 50px;
    }
    .header-search-bg-none {
        background: none;
    }
    .lg-input {
        min-width: 17rem;
    }
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    .has-search .form-control-search {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 3rem;
        text-align: center;
        pointer-events: none;
    }
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    .has-search .form-control:focus {
        color: #ffffff;
        background: none;
        border-color: #33CC66;
        outline: 0;
        box-shadow: none;
    }
     ::placeholder {
        color: #8e8e8e !important;
    }
    .lead-image {
        width: 100%;
        height: auto;
        max-height: 60vh;
        overflow: hidden;
        display: flex;
    }
    .lead-image img {
        width: 100vw;
        height: auto;
    }
    nav ul li {
        list-style: none;
        float: left;
        padding-right: 20px;
    }
    nav ul li a {
        text-decoration: none;
        color: #808080;
        padding: 4px 5px;
    }
    .active {
        color: #305885 !important;
        border-bottom: 1.5px solid #305885;
        font-weight: bold;
    }
    .btn-primary-scrapsheet a {
        background-color: #33CC66;
        border-radius: 50px;
    }
    .btn-primary-scrapsheet a:hover {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .155) !important;
    }
    .work-icon {
        background-image: url(../img/svg/ed-suitcase.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .bpk {
        list-style: none;
        padding: 0;
        width: 100%;
        color: #808080;
    }
    .bpl {
        display: inline-block;
        padding: 0;
        width: 48%;
    }
    .excertificate {
        background-image: url(../img/svg/excutive-certificat.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
    }
    @media (min-width:200px) and (max-width:996px) {
        .lg-input {
            min-width: 0;
        }
        .md-profile {
            margin: 0 auto;
            position: relative;
            width: 100%;
            max-width: 200px;
        }
    }
    @media (min-width:200px) and (max-width:768px) {
        .lg-input {
            min-width: 0;
        }
        .lead-image {
            height: 12rem;
        }
    }
    .cursor-default {
        cursor: default !important;
    }
    .edu-icon {
        background-image: url(../img/svg/edu.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .blog-icon {
        background-image: url(../img/svg/blog.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .project-information-icon {
        background-image: url(../img/svg/project-information.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .postion-top {
        top: -23px;
    }
    .black-light {
        color: #cccccc;
    }
    .year-position {
        margin: 0px 3px 0 0;
        position: relative;
        top: -2px;
    }
    .profil-info-edu-icon {
        margin: 0 1px 0 5px;
        width: auto;
        height: 22px;
    }
    .content {
        margin: -10px 0 -7px 40px;
    }
    .Profile-info-content {
        padding: 1rem 0 0 4rem;
        margin: 10px 0 0 0 0
    }
    .work-content {
        margin: -10px 0 -7px 40px;
    }
    .content-timeline {
        margin: -10px 0 -7px 7px;
    }
    .work-heading {
        padding: 0 0 0 18px;
        max-width: 500px;
        margin: 0 0 -7px 0;
    }
    .profile-infromation-content {
        padding: 1rem 0 0 3.9rem;
    }
    .work-infromation-content {
        padding: 1rem 0 0 4rem;
    }
    .work-info-icon {
        position: relative;
        top: -5px;
        margin: 0 0 0 10px;
        width: auto;
        height: 35px;
    }
    .project-info-content {
        padding: 1rem 0 0 3.9rem;
        ;
        margin: 10px 0 0 0 0;
    }
    .copyright-m {
        margin: 8px 0 0 0;
    }
    a {
        text-decoration: none;
    }
    .font_size_10 {
        font-size: 10px;
    }
    .font_size_12 {
        font-size: 12px;
    }
    .font_size_14 {
        font-size: 14px;
    }
    .font_size_16 {
        font-size: 16px;
    }
    .font_size_18 {
        font-size: 18px;
    }
    .font_size_20 {
        font-size: 20px;
    }
    .font_size_22 {
        font-size: 22px;
    }
    .font_size_24 {
        font-size: 24px;
    }
    .profile-primary-color-bg {
        background-color: #263240;
    }
    .pf-name-color {
        color: #305885;
    }
    .pf-work-color {
        color: #666666;
    }
    .header-icon-bg {
        background-color: #1B2733;
    }
    .profile-text-primary {
        color: #808080;
    }
    .btn-secondary-ss a {
        border: 1px solid #33CC66;
        background: #fff;
        color: #33CC66 !important;
        border-radius: 50px;
        min-width: 200px;
        width: 100%;
    }
    .btn-secondary-ss a:hover {
        border: 1px solid #33CC66;
        background: #33CC66;
        color: #ffffff !important;
        border-radius: 50px;
        min-width: 200px;
        width: 100%;
        cursor: pointer;
    }
    .header-badge-bg {
        background-color: #33CC66;
    }
    .header-badge-bg {
        top: -9px;
        left: 25px;
        border-radius: 50px;
    }
    .header-search-bg-none {
        background: none;
    }
    .lg-input {
        min-width: 17rem;
    }
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    .has-search .form-control-search {
        position: absolute;
        z-index: 2;
        display: block;
        width: 2.375rem;
        height: 2.375rem;
        line-height: 2.1rem;
        text-align: center;
        pointer-events: none;
    }
    .has-search .form-control {
        padding-left: 2.375rem;
    }
    .has-search .form-control:focus {
        color: #ffffff;
        background: none;
        border-color: #33CC66;
        outline: 0;
        box-shadow: none;
    }
    .lead-image {
        width: 100%;
        height: auto;
        max-height: 60vh;
        overflow: hidden;
        display: flex;
    }
    .lead-image img {
        width: 100vw;
        height: auto;
    }
    .profile-img-scrapsheet {
        padding: 15px !important;
    }
    .profile-img-scrapsheet img {
        width: 100%;
        height: 200px !important;
    }
    .profile-img-upload {
        left: 82px;
        top: 10px;
    }
    .profile-nav ul li {
        list-style: none;
        float: left;
        padding-right: 23px;
    }
    .profile-nav ul li a {
        text-decoration: none;
        color: #808080;
        padding: 4px 5px;
    }
    .btn-primary-scrapsheet a {
        background-color: #33CC66;
        border-radius: 50px;
    }
    .btn-primary-scrapsheet a:hover {
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, .155) !important;
    }
    .work-icon {
        background-image: url(../img/svg/ed-suitcase.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
    }
    .timeline {
        border-radius: 50px;
        background-color: #ffffff;
        height: 15px;
        width: 15px;
        position: relative;
        left: -9px;
        top: 0;
        border: 2px solid #cccccc;
        padding: 7px;
        display: flex;
    }
    .in-timeline {
        border-radius: 50px;
        background-color: #cccccc;
        height: 8px;
        width: 8px;
        position: absolute;
        left: 2px;
        top: 2px;
        padding: 5px;
        display: flex;
        z-index: 9;
    }
    .edu-timeline {
        top: -20px;
    }
    .cursor-default {
        cursor: default !important;
    }
    .bpk {
        list-style: none;
        padding: 0;
        width: 100%;
        color: #808080;
    }
    .bpl {
        display: inline-block;
        padding: 0;
        width: 48%;
    }
    .excertificate {
        background-image: url(../img/svg/excutive-certificat.svg);
        background-position: 0;
        background-repeat: no-repeat;
        background-size: contain;
        height: 30px;
    }
    @media (min-width:200px) and (max-width:996px) {
        .lg-input {
            min-width: 0;
        }
        .ss-logo-fluid {
            width: 200px !important;
            height: 40px !important;
        }
    }
    @media (min-width:200px) and (max-width:768px) {
        .lg-input {
            min-width: 0;
        }
        .lead-image {
            height: 12rem;
        }
    }
    .btn-popup {
        background-color: #33CC66;
        border-radius: 50px;
    }
    .btn-popup-secondary {
        border: 1px solid #ced4da;
        border-radius: 50px;
        color: #ced4da;
        background: none;
    }
    /*verfication Email*/
    .verfication-email-container {
        width: 100%;
        max-width: 350px;
        margin: 0 auto;
    }
    .form_footer ul a {
        list-style: none;
        padding: 0 10px;
        width: 40px;
        color: #bfbfbf;
    }
}

.profile-img-upload {
    left: 82px;
    top: 10px;
}

.profile-nav ul li {
    list-style: none;
    float: left;
    padding-right: 23px;
}

.profile-nav ul li a {
    text-decoration: none;
    color: #808080;
    padding: 4px 5px;
}

.btn-primary-scrapsheet a {
    background-color: #33CC66;
    border-radius: 50px;
}

.btn-primary-scrapsheet a:hover {
    box-shadow: 0 1rem 1rem rgba(0, 0, 0, .155) !important;
}

.work-icon {
    background-image: url(../img/svg/ed-suitcase.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
}

.timeline {
    border-radius: 50px;
    background-color: #ffffff;
    height: 15px;
    width: 15px;
    position: relative;
    left: -9px;
    top: 0;
    border: 2px solid #cccccc;
    padding: 7px;
    display: flex;
}

.in-timeline {
    border-radius: 50px;
    background-color: #cccccc;
    height: 8px;
    width: 8px;
    position: absolute;
    left: 2px;
    top: 2px;
    padding: 5px;
    display: flex;
    z-index: 9;
}

.edu-timeline {
    top: -20px;
}

.cursor-default {
    cursor: default !important;
}

.bpk {
    list-style: none;
    padding: 0;
    width: 100%;
    color: #808080;
}

.bpl {
    display: inline-block;
    padding: 0;
    width: 48%;
}

.excertificate {
    background-image: url(../img/svg/excutive-certificat.svg);
    background-position: 0;
    background-repeat: no-repeat;
    background-size: contain;
    height: 30px;
}

@media (min-width:200px) and (max-width:996px) {
    .lg-input {
        min-width: 0;
    }
}

@media (min-width:200px) and (max-width:768px) {
    .lg-input {
        min-width: 0;
    }
    .lead-image {
        height: 12rem;
    }
}

.btn-popup {
    background-color: #33CC66;
    border-radius: 50px;
}

.btn-popup-secondary {
    border: 1px solid #ced4da;
    border-radius: 50px;
    color: #ced4da;
    background: none;
}


/*verfication Email*/

.verfication-email-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.form_footer ul a {
    list-style: none;
    padding: 0 10px;
    width: 40px;
    color: #bfbfbf;
}

.form_footer ul a:hover {
    color: #34cc67;
    text-decoration: none;
}

.btn_primary_color {
    background-color: #34cc67;
    border: 1px solid #34cc67;
}

.reset-pwd-form-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1), 0 1px 2px rgba(0, 0, 0, 0.1);
}

.login-container {
    width: 100%;
    max-width: 450px;
    margin: 0 auto;
}

.reset-pwd-signin a {
    width: 100%;
    text-decoration: underline !important;
}

.reset-pwd-signin a:hover {
    color: #34cc67;
    text-decoration: underline;
}

.registor-form-control input[type="password"] {
    color: #000000;
}

::placeholder {
    color: #bebebe;
}

.fp-btn {
    background: none;
}

.fp-btn span {
    border-bottom: 1px solid #b7b7b7 !important
}

.fp-btn span:hover {
    color: #34cc67;
    border-bottom: 1px solid #34cc67 !important;
}

.form_footer ul li a:hover .footer-terms li a:hover .nav-link:hover a:hover {
    color: #34cc67 !important;
    text-decoration: none;
}

.footer-terms:hover {
    color: #34cc67 !important;
    text-decoration: none;
}

.ss-footer {
    position: absolute;
    bottom: 1px;
    left: 0;
    right: 0;
}

.modal-backdrop {
    background-color: #263240;
}

.modal-backdrop.show {
    opacity: 0.9;
}

.modal-content {
    border: 0;
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1), 0 1px 30px rgba(0, 0, 0, 0.1);
}

@include media-breakpoint-down(md) {}

@include media-breakpoint-down(sm) {
    .registor-form-control {
        border: 1px solid rgba(255, 255, 255, 0.4);
    }
    .registor-form-control:focus {
        box-shadow: none;
        border: 1px solid #1c7430;
    }
    .calender-m {
        max-width: 180px !important;
    }
    .calender-label-from {
        margin: 0 42px 0 0px;
    }
    .calender-label-to {
        margin: 0 56px 0 0px;
    }
    .check-space {
        padding: 0;
    }
}