@font-face {
    font-family: 'Brandon Grotesque Bold';
    src: url('./fonts/BrandonGrotesque-Bold.eot');
    src: url('./fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'), url('./fonts/BrandonGrotesque-Bold.woff2') format('woff2'), url('./fonts/BrandonGrotesque-Bold.woff') format('woff'), url('./fonts/BrandonGrotesque-Bold.svg#BrandonGrotesque-Bold') format('svg');
}

@font-face {
    font-family: 'Brandon Grotesque Medium';
    src: url('./fonts/BrandonGrotesque-Medium.eot');
    src: url('./fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'), url('./fonts/BrandonGrotesque-Medium.woff2') format('woff2'), url('./fonts/BrandonGrotesque-Medium.woff') format('woff'), url('./fonts/BrandonGrotesque-Medium.svg#BrandonGrotesque-Medium') format('svg');
}

@font-face {
    font-family: 'Brandon Grotesque Medium Italic';
    src: url('./fonts/BrandonGrotesque-MediumItalic.eot');
    src: url('./fonts/BrandonGrotesque-MediumItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/BrandonGrotesque-MediumItalic.woff2') format('woff2'), url('./fonts/BrandonGrotesque-MediumItalic.woff') format('woff'), url('./fonts/BrandonGrotesque-MediumItalic.svg#BrandonGrotesque-MediumItalic') format('svg');
}

@font-face {
    font-family: 'Brandon Grotesque Light';
    src: url('./fonts/BrandonGrotesque-Light.eot');
    src: url('./fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'), url('./fonts/BrandonGrotesque-Light.woff2') format('woff2'), url('./fonts/BrandonGrotesque-Light.woff') format('woff'), url('./fonts/BrandonGrotesque-Light.svg#BrandonGrotesque-Light') format('svg');
}

@font-face {
    font-family: 'Brandon Grotesque Regular';
    src: url('./fonts/BrandonGrotesque-Regular.eot');
    src: url('./fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/BrandonGrotesque-Regular.woff2') format('woff2'), url('./fonts/BrandonGrotesque-Regular.woff') format('woff'), url('./fonts/BrandonGrotesque-Regular.svg#BrandonGrotesque-Regular') format('svg');
}

@font-face {
    font-family: 'Brandon Grotesque Regular Italic';
    src: url('./fonts/BrandonGrotesque-RegularItalic.eot');
    src: url('./fonts/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'), url('./fonts/BrandonGrotesque-RegularItalic.woff2') format('woff2'), url('./fonts/BrandonGrotesque-RegularItalic.woff') format('woff'), url('./fonts/BrandonGrotesque-RegularItalic.svg#BrandonGrotesque-RegularItalic') format('svg');
}

@font-face {
    font-family: 'Brandon Grotesque Thin';
    src: url('./fonts/BrandonGrotesque-Thin.eot');
    src: url('./fonts/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'), url('./fonts/BrandonGrotesque-Thin.woff2') format('woff2'), url('./fonts/BrandonGrotesque-Thin.woff') format('woff'), url('./fonts/BrandonGrotesque-Thin.svg#BrandonGrotesque-Thin') format('svg');
}